PORT=9002
DB_URL=postgres://jepo_admin:your_password_here@oscar.db.elephantsql.com:9001/jepo?schema=asistencia_proactiva&sync=true
THROTTLE_TTL=60000
THROTTLE_LIMIT=60
CORS_ENABLED=true
CORS_ORIGINS=http://localhost:5173,http://localhost:52948,http://localhost:64414

# API Key guard
API_KEY=api_key_here
API_KEY_HEADER_NAME=x-api-key

# Evolution API
EVOLUTION_API_BASE_URL=http://localhost:8080
EVOLUTION_INSTANCE=mi_instancia
EVOLUTION_API_KEY=mi_api_key
