PORT=9002
DB_HOST=oscar.db.elephantsql.com
DB_PORT=9001
DB_USER=jepo_admin
DB_PASSWORD=your_password_here
DB_NAME=jepo
DB_SCHEMA=asistencia_proactiva
DB_SYNC=true
THROTTLE_TTL=60000
THROTTLE_LIMIT=60

# API Key guard
API_KEY=api_key_here
API_KEY_HEADER_NAME=x-api-key

# Evolution API
EVOLUTION_API_BASE_URL=http://localhost:8080
EVOLUTION_INSTANCE=mi_instancia
EVOLUTION_API_KEY=mi_api_key
